PORT=5000
MONGODB_URI=mongodb+srv://josiahdavid111:wmfWTLTyQrvsZ4qs@cluster0.xkwaovv.mongodb.net/legal-assistant? retryWrites=true&w=majority

JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

ANTHROPIC_API_KEY=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
OPENAI_API_KEY=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

PINECONE_API_KEY=pcsk_3E7XjC_GkQLs15UM4Bp3g8jwTGZ2pY6Lkr4BUfFav21WMAiWU9jrpZR1faz2WTrspvWPm9
PINECONE_INDEX=legal-assistant

CLOUDINARY_CLOUD_NAME=dorlkepdf
CLOUDINARY_API_KEY=792941916516331
CLOUDINARY_API_SECRET=iW0cG2FXD0psE2qfjqPW8GQ7M_A

CLIENT_URL=http://localhost:3000
NODE_ENV=development
